<div class="mainDiv">
  <div class="heading">
    <p style="padding-top: 10px">My Matches</p>
    <i
      class="fa-solid fa-ellipsis-vertical elipsis"
      style="padding-top: 10px"
    ></i>
  </div>
  <div class="profileHeading">
    <p class="pendingProfiles">8 Profiles pending with me</p>
    <a class="newButton">
      <p class="btn-text">5 New</p>
    </a>
  </div>
  <div class="container h-100">
    <div class="row card-group">
      <div class="col-md-6 col-lg-3 mt-3" *ngFor="let profile of profiles">
        <div class="card" style="width: 18rem">
          <img
            (click)="onClickYes(profile.id)"
            class="card-img-top"
            style="
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              height: 18rem;
              width: 18rem;
            "
            src="{{ profile.img }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ profile.name }}</h5>
            <p class="card-text">
              {{ profile.address }}
            </p>
            <button
              class="btn btn-warning yesButton"
              (click)="onClickYes(profile.id)"
            >
              Yes
            </button>
            <button class="btn btn-light noButton" (click)="onClickNo()">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
